{% extends 'base.html.twig' %}

{% block title %}Planet{% endblock %}

{% block body %}
    <div class="mt-5 mb-5 mr-5 ml-5">
        <h1>Planète</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ planet.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ planet.name }}</td>
                </tr>
                <tr>
                    <th>Is_done</th>
                    <td>{{ planet.isDone ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Is_half</th>
                    <td>{{ planet.isHalf ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Is_off</th>
                    <td>{{ planet.isOff ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ planet.description }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('planet_index') }}" class="btn btn-custom mr-5">Retour</a>

        <a href="{{ path('planet_edit', {'id': planet.id}) }}" class="btn btn-custom">Editer</a>

        {{ include('planet/_delete_form.html.twig') }}
    </div>
{% endblock %}
