{% extends 'base.html.twig' %}

{% block title %}Chapitre{% endblock %}

{% block body %}
    <div class="mt-5 mb-5 ml-5 mr-5">
        <h1>Chapitre</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ chapter.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ chapter.name }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('chapter_index') }}" class="btn btn-custom">Retour à la liste</a>

        <a href="{{ path('chapter_edit', {'id': chapter.id}) }}" class="btn btn-custom ml-5">Editer</a>

        {{ include('chapter/_delete_form.html.twig') }}
    </div>
{% endblock %}
