{% extends 'base.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}
    <div class="mt-5 mb-5 mr-5 ml-5">
        <h2 class="text-center">{{ quizz_b.name }}</h2>
        <form action="{{ path('answer_moon2') }}" method="post" name="quizz_form">
            {% for question in questions %}
                <p>{{ loop.index }}- {{ question.content }}</p>
                <div id="mainShuffle{{ loop.index }}">
                    <div class="shuffle">
                        <input type="checkbox" name="answer{{ loop.index }}" value="good">{{ question.goodAnswer }}</input>
                        <br>
                    </div>
                    <div class="shuffle">
                        <input type="checkbox" name="answer{{ loop.index }}" value="false">{{ question.firstFalse }}</input>
                        <br>
                    </div>
                    {% if question.secondFalse != null %}
                        <div class="shuffle">
                            <input type="checkbox" name="answer{{ loop.index }}" value="false">{{ question.secondFalse }}</input>
                            <br>
                        </div>
                    {% endif %}
                    {% if question.thirdFalse != null %}
                        <div class="shuffle">
                            <input type="checkbox" name="answer{{ loop.index }}" value="false">{{ question.thirdFalse }}</input>
                            <br>
                        </div>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
            <button type="submit" class="btn btn-custom mt-5" value="quizz_value">Valider</button>
        </form>
    </div>
{% endblock %}
