{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="ml-5 mt-5 mr-5 mb-5">
        <h1 class="text-center">{{ app.user.nickname }}</h1>
        <p> Mon adresse mail: {{ app.user.email }}</p>
        <p> Mon mot de passe : ****** </p>
        <div>
            <p>Liste des Badges obtenus :</p>
            <div class="d-flex mr-5">
                {% for badge in app.user.badges %}
                    {{ badge.name }}
                    <img src="{{ badge.img }}" alt="{{ badge.name }}" class="profil-badge">
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}