<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Link</a>
            </li>
            {% if is_granted("ROLE_ADMIN")%}
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administration
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('badge_index') }}">Badges</a>
                    <a class="dropdown-item" href="{{ path('chapter_index') }}">Chapitres</a>
                    <a class="dropdown-item" href="{{ path('content_index') }}">Contenu</a>
                    <a class="dropdown-item" href="{{ path('multimedia_index') }}">Multimedia</a>
                    <a class="dropdown-item" href="{{ path('planet_index') }}">Planètes</a>
                    <a class="dropdown-item" href="{{ path('question_index') }}">Questions</a>
                    <a class="dropdown-item" href="{{ path('quizz_index') }}">Quizz</a>
                    <a class="dropdown-item" href="{{ path('user_index') }}">Utilisateurs</a>
                    <a class="dropdown-item" href="{{ path('user_image_index') }}">Images</a>
                </div>
            </li>
            {% endif %}
        </ul>
            <li class="nav-item active">
                {% if app.user %}
                    {{ app.user.email }}
                    <a href="{{ path('app_logout') }}"> Se déconnecter</a>
                {% else %}
                    <a href="{{ path('app_login') }}"> Se connecter</a>
                {% endif %}
            </li>
    </div>
</nav>