{% extends 'base.html.twig' %}

{% block title %}Image utilisateur{% endblock %}

{% block body %}
    <div class="mt-5 ml-5 mr-5 mb-5">
        <h1>Images utilisateur</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>URL</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user_image in user_images %}
                <tr>
                    <td>{{ user_image.id }}</td>
                    <td>{{ user_image.name }}</td>
                    <td>{{ user_image.URL }}</td>
                    <td>
                        <a href="{{ path('user_image_show', {'id': user_image.id}) }}">Voir</a>
                        <a href="{{ path('user_image_edit', {'id': user_image.id}) }}">Editer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('user_image_new') }}" class="btn btn-custom">Ajouter</a>
    </div>
{% endblock %}
