{% extends 'base.html.twig' %}

{% block title %}Contenu{% endblock %}

{% block body %}
    <div class="mt-5 mb-5 ml-5 mr-5">
        <h1>Contenus</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for content in contents %}
                <tr>
                    <td>{{ content.id }}</td>
                    <td>{{ content.name }}</td>
                    <td>{{ content.description }}</td>
                    <td>
                        <a href="{{ path('content_show', {'id': content.id}) }}">Voir</a>
                        <a href="{{ path('content_edit', {'id': content.id}) }}">Editer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('content_new') }}">Ajouter</a>
    </div>
{% endblock %}
