{% extends 'base.html.twig' %}

{% block title %}Multimedia{% endblock %}

{% block body %}
    <div class="mt-5 mb-5 mr-5 ml-5">
        <h1>Multimedia</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>URL</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for multimedia in multimedia %}
                <tr>
                    <td>{{ multimedia.id }}</td>
                    <td>{{ multimedia.name }}</td>
                    <td>{{ multimedia.URL }}</td>
                    <td>
                        <a href="{{ path('multimedia_show', {'id': multimedia.id}) }}">Voir</a>
                        <a href="{{ path('multimedia_edit', {'id': multimedia.id}) }}">Editer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('multimedia_new') }}" class="btn btn-custom">Ajouter</a>
    </div>
{% endblock %}
