{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <div class="mt-5 mb-5 mr-5 ml-5">
        <h1>Utilisateur</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{ user.password }}</td>
                </tr>
                <tr>
                    <th>Nickname</th>
                    <td>{{ user.nickname }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ user.status }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('user_index') }}" class="btn btn-custom">Retour</a>

        <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-custom ml-5">Editer</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
