{% extends 'base.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}
    <div class="mt-5 mb-5 ml-5 mr-5">
        <h1>Quizz</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ quizz.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ quizz.name }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('quizz_index') }}" class="btn btn-custom mr-5">Retour</a>

        <a href="{{ path('quizz_edit', {'id': quizz.id}) }}" class="btn btn-custom">Editer</a>

        {{ include('quizz/_delete_form.html.twig') }}
    </div>
{% endblock %}
